// Place all the styles related to the Album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-list {
  display: flex;
  flex-wrap: wrap;
  .album {
    flex: 1 1 50%;
    padding: 1rem;
    height: 19rem;
    margin-bottom: 2rem;
    .album__title {
      text-transform: capitalize;
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .album {
      flex: 1 1 100%;
    }
  }
}
